<div class="user_div">
    <div class="user_card">
        <div class="user_photo">img link</div>
        <ul class="user_list">
            <li class="user_name"></li>
            <p>name</p>
            <li></li>
        </ul>
    </div>

       <div class="user_card">
        <div class="user_photo">img link</div>
        <ul class="user_list">
            <li class="user_name"></li>
            <p>name</p>
            <li></li>
        </ul>
    </div>

       <div class="user_card">
        <div class="user_photo">img link</div>
        <ul class="user_list">
            <li class="user_name"></li>
            <p>name</p>
            <li></li>
        </ul>
    </div>

       <div class="user_card">
        <div class="user_photo">img link</div>
        <ul class="user_list">
            <li class="user_name"></li>
            <p>name</p>
            <li></li>
        </ul>
    </div>
</div>