<h1> The Minimalist Place </h1>

<div class="user_div">
<% @users.each do |user| %>
  <%= link_to user_path(id: user.id) do%>
    <div class="user_card">
        <div class="user_photo" src="<%= user.photo %>"></div>
        <ul class="user_list">
            <li class="user_name"></li>
            <p><%= user.name %></p>
            <li>Posts: <%= user.PostsCounter %></li>
        </ul>
    </div>
    <% end %>
    <% end %>
</div>