<div class="user_detail_div">
    <div class="user_detail_photo">Img Link here</div>
    <div class="user_detail_name">User name</div>
    <div class="user_detail_bio">User Bio</div>
    <div class="usere_detail_post">Post 1</div>
    <div class="usere_detail_post">Post 1</div>
    <button>See all Posts</button>
</div>