<div class="user_detail_posts">
    <div>Name</div>
    <div><p>Post 1</p> Lorem Ipsum...</div>
    <div><p>Post 1</p> Lorem Ipsum...</div>
    <div><p>Post 1</p> Lorem Ipsum...</div>
    <div><p>Post 1</p> Lorem Ipsum...</div>
    <button>Pagination</button>
</div>