<div class="post_detail">
    <div>Lorem Ipsum</div>
    <div>
        <p>Username: Comment</p>
        <p>Username: Comment</p>
        <p>Username: Comment</p>
        <p>Username: Comment</p>
        <p>Username: Comment</p>
        <p>Username: Comment</p>
    </div>
</div>